.maingrid {
    list-style-type: none;
    margin: 0;
    padding: 0;

    $grid-padding: 10px;
    $size: 25vh;

    > li {

        a {
            margin: 1px;
            padding: $grid-padding;
            text-align: center;
            background-color: rgba(0,0,0,0.05);
            float: left;

            line-height: $size;
            height: $size;
            width: $size;

            img {
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                filter: grayscale(100%);
            }

            &:hover {
                background-color: rgba(0,0,0,0.25);

                img {
                    -webkit-filter: grayscale(0%);
                    -moz-filter: grayscale(0%);
                    filter: grayscale(0%);
                }
            }
        }
    }
}